🔴 Ecosystem Project Idea: Transaction Latency Testing Tool

**What is an Ecosystem Project Idea?**

An Ecosystem Project Idea is an idea for a project that someone could build within the Optimism ecosystem. As opposed to an Ecosystem Concept or an Ecosystem Idea, an Ecosystem Project is generally more fleshed out and corresponds to a relatively clear product to be built. 

---

## Summary

Develop a latency testing tool for the OP Mainnet to track the dynamism of transaction latency. This tool would shed light on any issues impacting transaction inclusion times. If latency spikes, there might be network issues. Would be great to make as an open source tool that could also be provided as a public dashboard.

## Possible Features

- Facilitate configuration of routes (RPCs).
- Enable the sending of various types of transactions at different intervals.
- Record response times for each transaction.
- Display a graph showcasing the correlation between transaction send times and response times.
- Allow configuration of multiple RPCs and highlight differences in latency between them.

## Impact

- Provides invaluable data on the performance of OP Mainnet.
- Assists in identifying and addressing latency issues.
- Helps users and developers understand the implications of using different RPCs.


# Dominant Latency Reduction in Transaction Settlement

I am breaking down this into two distinct models:
- Improving data for better end user decision making and pricing
- Educating end user on Network Routing at Scale


## Cucked-based metrics

**Count**-based (i.e. your success-ratio) availability metrics are cucked because...

• Not meaningful in that they are not based on time.
• Are very biased by highly active users (e.g. 9-5pm EST users).
• Can be biased because of different client behavior during outages (see latest Finality issue as a result of Prysm client).

We must measure the amount the time that the application (i.e. abnormal inclusion delay) was unavailable to users. If there is an outage, for instance, changes in client behavior (issuing lots of retries, or giving up), should not influence the metric.

Additionally, this metric is proportional to the user-perceived availability. With time-based availability metrics, there is no indication of how many users were affected by an outage or service disruption. For instance, an outage during peak hours is not distinguished from an outage at a time when fewer users use an application in time-based metrics, but would be in the user-uptime metrics.

The Mempool provides both the data for inclusion delay (insofar as the amount of pending transactions is constant but time for inclusion increases) and availability (rate of repricing txs, etc).

## Deriving network congestion via mempool state

https://github.com/manifoldfinance/venom-capacity

This repo provides a simulation environment that illustrates the power of littles law and how mempool congestion should be measured in terms of change in amount of pending txs over a period of time rather than just looking at transaction prices. 

The repo includes a grafana dashboard and several simulation test cases to show how spikes in the mempool provide the most accurate information for predictive pricing for transactions: by observing an increase in the amount of pending transactions, what amount of transactions over a period of time have been 'repriced', and the duration of specific transaction times in the mempool (specifically contract creation transactions) we can derive a `networkCongestion` property. 

The `networkCongestion` is a number from 0 to 1, where 0 represents "not congested" and 1 represents "extremely congested", can be used to communicate the status of the overall network to the DApp and end user.

## Networking and Latency

> Manifold Finance operates SecureRpc.com - a public relay and RPC endpoint for public usage by the Ethereum ecosystem. This is more relevant for MEV applications than to typical end retail user.

#### Latency Benchmarking

> Why is "ping time to SecureRPC.com" (or packet drop rate) not a good measure of the performance of Manifold Finances RPC services?

Manifold Finances optimizes the content delivery path to users based on a number of metrics, including observed network path latency and quality of experience for the end user. 

Manifold does not recommend using ping time as a measure of the actual performance of infrastructure services for the following reasons:

-   Generally, Ethereum Clients as services, are not designed as ICMP network testing services
-   Many networks, rate limit ICMP
-   ICMP ping or traceroute traffic can be discarded or delayed en-route to datacenter.
-   The termination point of the TCP/UDP session with your RPC endpoint may not represent the full network path between a user and the service.
-   User requests may be served from locations other than the destination of the initial IP termination point.

Even a complete lack of response to ICMP traffic may not reflect any sort of issue with the RPC/Ethereum Client service.

#### What is the content delivery path that RPC providers typically optimize?

Generally, for providing a performant infrastructure the interest is in the entire latency spectrum: from between the end-user node to the part of our infrastructure serving the traffic.

This will include segments of the providers internal network beyond where the session is terminated. It might also include network paths that are closer to the user than the initial session termination point.

Individual RPC requests or responses may have content served from a number of different parts of 3rd party service providers serving infrastructure depending on the request being made and during the time of day. 


### Further Reading

RFC2622 - “Routing Policy Specification Language (RPSL)”: Describes the basic RPSL object syntax
RFC4012 - “Routing Policy Specification Language next generation (RPSLng)”: Describes useful additions to the RPSL language such as IPv6 route6 objects
RFC2650 - “Using RPSL in Practice”: A tutorial on generating RPSL objects, much like this article
RFC7682 - “Considerations for Internet Routing Registries (IRRs) and Routing Policy Configuration: Some of the problems and lessons learned about the IRR system

To route through IPv6 is genius. Have a degree in Cisco Systems & Networking. To get to the point a IPv6 is a static connection and encrypted and so is the blockchain. I believe so much can be accomplished if integration of IPv6 moves forward one can build a system on the network that can establish less redundancy, lagging and more. Would enjoy to read more on what is in store for Optimus that you are working on and how strong this will become in the short time ahead; especially IpV6. 